@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Poppins';
    --font-secondary: 'Baloo 2';
}

.contatos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 46px;
    background: #8EBA1C;
    color: #FFFFFF;
    font-family: var(--font-primary);
    font-size: 15px;
    padding: 5px 0;
}

.contato {
    display: flex;
}

.contato div {
    margin: 0 30px 0 0px;
}

.redes-sociais {
    display: flex;
    align-items: center;
}

.email-envelope {
    display: flex;
    align-items: center;
}

.redes-sociais .fa-envelope {
    margin-right: 10px;
}

.redes-sociais-header {
    margin: 0 0 0 20px;
}

.redes-sociais-header i {
    font-size: 17px;
    padding: 10px;
    border-radius: 50px;
    background-color: #FFFFFF;
    color: #8EBA1C;
    opacity: 0.7;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-primary);
    padding: 10px 0;
    background: #FFFFFF;
}

.nav img {
    width: 150px;
}

.links a {
    text-decoration: none;
    color: #171717;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
}

.agendar-consulta {
    font-family: var(--font-primary);
    background: #8EBA1C;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
}

.texto-image {
    color: #FFFFFF;
    text-align: center;
    background-color:  rgba(76, 104, 6, 0.8);
    height: 600px; display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 100%;
    height: 600px;
    background-image: url(./assets/banner-nutri3.jpg);
    background-repeat: no-repeat;
    z-index: -4;
    position: absolute;
}

.texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    z-index: 99;
}

.texto h1 {
    font-family: var(--font-secondary);
    font-size: 66px;
    line-height: 75px;
}

.texto p {
    font-family: var(--font-primary);
    font-size: 22px;
}

.sobre-nos {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    padding: 25px;
}

.medica img {
    width: 450px;
}

.sobre-nos-texto {
    width: 60%;
}

.sobre-nos-texto span {
    color: #545252;
    font-family: "Poppins", Sans-serif;
    font-size: 27px;
    font-weight: 500;
    font-style: italic;
}

.sobre-nos-texto h2 {
    color: #8eba1c;
    font-family: var(--font-secondary);
    font-size: 66px;
    font-weight: 800;
    line-height: 70px;
}

.sobre-nos-texto p {
    color: #7A7A7A;
    text-align: justify;
    font-family: var(--font-primary);
}

.acompanhamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acompanhamento h2 {
    color: #8eba1c;
    font-size: 45px;
    font-family: var(--font-secondary);
    text-align: center;
}

.cards-acompanhamento {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    column-gap: 15px;
    color: #FFFFFF;
    font-family: var(--font-primary);
}

.qualidade-vida, .objetivos, .aprender-nutricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 30px;
    border-radius: 7px;
}

.qualidade-vida {
    background-color: #8EBA1C;
}

.objetivos, .aprender-nutricao {
    background-color: #171717;
}

.cards-acompanhamento i {
    color: #FFFFFF;
    font-size: 55px;
}

.agendar-consulta-acompanhamento {
    font-family: var(--font-primary);
    background: #8EBA1C;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
}

.nossas-especialidades {
    background-color: #171717;
    margin-top: 35px;
    padding: 50px;
}

.nossas-especialidades h2 {
    font-family: var(--font-secondary);
    color: #FFFFFF;
    font-size: 55px;
    text-align: center;
}

.nossas-especialidades h4 {
    font-family: var(--font-secondary);
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

.cards-especialidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    margin-top: 20px;
}

.cards-especialidades i {
    font-size: 40px;
}

.cards-especialidades h6 {
    font-size: 30px;
}

.cards-especialidades p {
    text-align: justify;
}

.nutricao-esportiva, .nutricao-pediatrica {
    width: 100%;
    background: #8EBA1C;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    padding: 20px;
    column-gap: 10px;
    border-radius: 10px;
}

.nutricao-clinica, .nutricao-consultoria {
    width: 100%;
    background: #FFFFFF;
    color: #8EBA1C;
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    padding: 20px;
    column-gap: 10px;
    border-radius: 10px;
}

.nutricao-consultoria {
    margin-bottom: 20px;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.blog h2 {
    color: #8EBA1C;
    font-family: var(--font-secondary);
    font-size: 45px;
    text-align: center;
}

.blog h4 {
    color: #878484;
    font-style: italic;
    font-family: var(--font-primary);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}

.cards-blog {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    column-gap: 20px;
}

.cards-blog h6 {
    color: #696666;
    font-size: 20px;
}

.cards-blog p {
    color: #8D99AE
}

.card-proteina, .card-ansiedade, .card-alimentos {
    font-family: var(--font-primary);
    width: 400px;
    box-shadow: 0px 2px 1px #838383;
    border-radius: 15px;
    padding: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

.cards-blog img {
    width: 100%;
    border-radius: 15px;
}

.fale-conosco {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    margin-top: 50px;
    padding: 60px;
}

.text-fale-conosco {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.text-fale-conosco-header h2 {
    font-family: var(--font-secondary);
    color: #8EBA1C;
    font-size: 51px;
}

.text-fale-conosco-header p {
    color: #878484;
    font-size: 20px;
    font-family: var(--font-primary);
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
}

.text-fale-conosco-contato {
    margin-top: 25px;
}

.text-fale-conosco-contato div {
    font-family: var(--font-primary);
    margin: 5px 0 5px 0;
}

.text-fale-conosco-contato div i {
    color: #8EBA1C;
    font-size: 20px;
}

.text-fale-conosco-contato div span {
    color: #5F5C5C;
}

.phone, .whats, .mail, .location {
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-size: 17px;
}

.location span {
    margin-left: 4px;
}

.btn-fale-conosco {
    color: white;
    border: none;
    background-color: #8EBA1C;
    text-transform: uppercase;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    font-size: 15px;
    font-family: var(--font-primary);
    margin-top: 20px;
}

.rodape {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
}

.conteudo-rodape {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background-color: #171717;
    color: #FFFFFF;
    padding: 75px;
}

.conteudo-rodape h4 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

.contato-rodape i {
    color: #8EBA1C;
}

.institucional-rodape a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo-rodape, .contato-rodape, .institucional-rodape ,.especialidades-rodape, .redes-sociais-rodape {
    display: flex;
    flex-direction: column;
}

.logo-rodape img {
    width: 200px;
}

.link-redes-sociais {
    display: flex;
    justify-content: center;
    color: #8EBA1C;
}

.link-redes-sociais i {
    margin: 0 5px 0 5px;
    font-size: 25px;
    padding: 10px;
    border-radius: 50px;
    background-color: #FFFFFF;
}

.direitos {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #8EBA1C;
    color: #FFFFFF;
}

.text-direitos, .text-politica {
    text-align: center;
}

@media screen and (max-width: 948px) {
    .cards-acompanhamento {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .qualidade-vida, .objetivos, .aprender-nutricao {
        height: 250px;
    }
    .nutricao-esportiva, .nutricao-clinica, .nutricao-pediatrica, .nutricao-consultoria {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .fale-conosco {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .text-fale-conosco {
        width: 100%;
    }
    .btn-fale-conosco {
        margin-bottom: 25px;
    }
    .conteudo-rodape {
        display: flex;
        flex-direction: column;
    }
    .contato-rodape, .institucional-rodape, .especialidades-rodape, .redes-sociais-rodape {
        margin: 30px 0 0 0;
    }
    .logo-rodape {
        display: flex;
        align-items: center;
    }
    .link-redes-sociais {
        display: flex;
        justify-content: left;
    }
    .direitos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    iframe {
        max-width: 100%;
    }
}

@media screen and (max-width: 897px) {
    .nossas-especialidades h2 {
        line-height: 60px;
    }
}

@media screen and (max-width: 857px) {
    .links {
        display: none;
    }
    .contatos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        font-size: 14px;
    }
    .redes-sociais {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .redes-sociais-header {
        margin: 0;
    }
    .links {
        text-align: center;
    }
    .agendar-consulta {
        font-size: 12px;
        padding: 12px 12px;
    }
    .texto h1 {
        font-size: 50px;
        line-height: 40px;
    }
    .texto p {
        font-size: 18px;
    }
    .sobre-nos {
        display: flex;
        flex-direction: column;
    }
    .medica {
        display: flex;
        justify-content: center;
    }
    .medica img {
        width: 70%;
    }
    .sobre-nos-texto {
        width: 100%;
    }
    .sobre-nos-texto span {
        font-size: 21px;
    }
    .sobre-nos-texto h2 {
        font-size: 45px;
    }
    .acompanhamento h2 {
        line-height: 40px;
    }
    .nossas-especialidades h2 {
        font-size: 40px;
    }
    .cards-blog {
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        flex-direction: column;
    }
    .fale-conosco {
        display: flex;
        flex-direction: column;
    }
    .text-fale-conosco {
        width: 100%;
    }
}

@media screen and (max-width: 447px) {
    .acompanhamento h2 {
        font-size: 30px;
    }
    .qualidade-vida, .objetivos, .aprender-nutricao {
        min-height: 450px;
    }
    .card-proteina, .card-ansiedade, .card-alimentos {
        max-width: 100%;
    }
}

@media screen and (max-width: 365px) {
    .contato {
        display: flex;
        flex-direction: column;
    }
    .redes-sociais-header i {
        font-size: 10px;
    }
}

@media screen and (max-width: 335px) {
    .nossas-especialidades h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .logo-rodape, .contato-rodape, .institucional-rodape ,.especialidades-rodape, .redes-sociais-rodape {
        font-size: 12px;
    }
}

@media screen and (max-width: 316px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
}